@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*,:after,:before{margin:0;padding:0;outline:0;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-box-sizing:border-box;text-decoration:none;list-style:none}

body,input,button {font-family: 'Montserrat', sans-serif; color: #333333}
h1,h2,h3,h4 {text-transform: uppercase;	}

h2 {
	font-size: 30pt;
	margin-bottom: 32px;
	line-height: 35pt;
	letter-spacing: -0.02em;
}
h3 {
	font-size: 20pt;
	margin-bottom: 22px;
	line-height: 25pt;
	letter-spacing: -0.02em;
}
h4 {
	font-size: 16pt;
	margin-bottom: 18px;
	line-height: 21pt;
	letter-spacing: -0.02em;
}
h5 {
	font-size: 12pt;
	margin-bottom: 4px;
	line-height: 21pt;
	letter-spacing: -0.02em;
	font-weight: 600;
}
p {
	font-size: 14pt;
	margin-bottom: 16px;
	line-height: 16pt;
	font-weight: 400;
	letter-spacing: -0.02em;
}
.icon {
	font-size: 24px;
}
.no-margin {
	margin: 0;
}
button {
	padding: 0 20px;
	height: 64px;
	text-transform: uppercase;
	border:0px;
	background: linear-gradient(252.26deg, #4F8FDF 0%, #45D9A6 100%);
	border-radius: 8px;
	color: #FFFFFF;
	font-size: 12pt;
	font-weight: 600;
	min-width: 200px;
	cursor: pointer;
	margin-bottom: 12px;
}
.linkButton {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 12px;
	height: 64px;
	font-weight: 600;
	cursor: pointer;
	svg { margin-right: 12px; }
}
div.textInput {
	display: flex;
	flex-direction: column;
	min-height: 64px;
	background: #E2E2E2;
	border-radius: 8px;
}
div.textInputErrored {
	border: 2px solid red;
}
div.textInput label {
	font-size: 10pt;
	text-transform: uppercase;
	font-weight: 700;
	position: absolute;
	padding: 10px 20px;
}
div.textInputErrored label {
	color: red;
}
div.textInput input {
	font-size: 12pt;
	text-transform: uppercase;
	font-weight: 400;
	border:0px;
	padding: 10px 20px 0 20px;
	height: 64px;
	background-color: transparent;
}
div.textInput input[type="password"] {
	font: small-caption;
	font-size: 12pt;
	letter-spacing: 6px;
}
div.textInput textarea {
	min-height: 200px;
	background: #E2E2E2;
	border:0px;
	border-radius: 8px;
	padding: 20px;
	font-size: 12pt;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	color: #333333;
	resize: vertical;
}
p.textInputAlert {
	color: red;
	font-size: 12pt;
	padding: 0px !important;
	margin-top: -8px;
}

.fluid-container {display: block; width: 100%;padding: 0px;}

.container {
	max-width: 1140px;
	display: block;
	margin: auto;
	padding: 0 15px;
	width: 100%;
}
.centralized-items {
	display: grid;
	align-items: center;
	justify-content: center;
}

.h100 {
	min-height: 100vh;
}

.start {
	display:grid;
	min-height: 100vh;
	width: 100%;
	grid-template-areas: "head" "conteudo";
	grid-template-rows: auto 1fr;
}

header.site {
	position: fixed;
	width: 100%;
	background-color: #FFFFFF;
}
header.scrolled {box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.05); opacity: 0.9;transition: 1s;}
header.site .toggleNav {position: absolute;right: 20px;top:15px;padding: 10px 15px;font-size: 14pt;display: none; min-width: auto;}
header.site .container {
	margin:auto;
	display: grid;
	grid-template-columns: auto 1fr;
	padding:15px 15px;
	grid-area:head;
	align-items: center;
	height: 76px;
}
header.site .container a.logo img{max-width: 120px;}
header.site .container nav {text-align: right;}
header.site .container nav a {
	text-transform: uppercase;
	padding: 20px 0px 20px 32px;
	font-weight: 400;
	color: #333333;
	font-size: 12pt;
}
header.app {
	display: flex;
	justify-content: space-between;
	padding: 24px 0 12px;
	margin-bottom: 12px;
}

section.container .content {margin: 80px 0;}
section.container .content .term {margin-bottom: 32px;}
section.container .content .term strong {margin-right: 8px;}

section.exclusive {grid-area: conteudo;align-self: end;}
section.exclusive h1 {
	font-size: 5vw;
	margin-bottom: 30px;
	line-height: 5.2vw;
	letter-spacing: -0.02em;
}
section.exclusive .subscribe {display: grid;grid-template-columns: 1fr auto;}
section.exclusive .subscribe input {
	height: 64px;
	background: #E2E2E2;
	border:0px;
	border-radius: 8px 0px 0px 8px;
	padding: 20px;
	font-size: 12pt;
	display: block;
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
}
section.exclusive .subscribe input::placeholder {
	color: #B6B6B6;
}
section.exclusive .subscribe button { border-radius: 0px 8px 8px 0px; min-width: 250px; cursor: pointer;}
section.benefits {min-height: 100vh;display: grid;grid-template-areas: "image content";grid-template-columns: 400px 1fr;gap: 12px;}
section.benefits div.mobileImage {
	grid-area:image;
	align-self: center;
	border-radius: 5px;
}
section.benefits div.mobileImage img {
	max-width: 100%;
}
section.benefits article.benefitsArticle {grid-area:content;align-self: center;}

section.benefits article.benefitsArticle p.item {
	background: url('/images/li-item.png') no-repeat left center;
	padding: 0 28px;
	font-size: 14pt;
	font-weight: 600;
}
section.benefits article.benefitsArticle img.pricing {
	margin: 32px 0;
}
section.reasons {
	display:grid;
	grid-template-areas: "reason1" "reason2";
	grid-template-rows: 1fr;
	min-height: 100vh;
}
section.reasons div.reason1 {
	grid-area: reason1;
	display: flex;
	background: url('/images/pizza-background.png') no-repeat;
	background-size: cover;
	background-position: center;
}
section.reasons div.reason2 {
	grid-area: reason2;
	display: flex;
	background: url('/images/burger-background.png') no-repeat;
	background-size: cover;
	background-position: center;
}
section.reasons>div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0px 40px;
	align-items: center;
	min-height: 50vh;
	color: #FFFFFF;
}
section.reasons>div div.why2{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
}
section.reasons div div.why {
	flex: 1;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}
section.reasons div div.why p {
	max-width: 35vw;
	letter-spacing: -0.02em;
	color: #FFFFFF;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

div.about {
	display: grid;
	grid-template-areas: "image1 image1" "image2 image3";
	min-height: 100vh;
	grid-template-columns: 1fr 1fr;
}
div.about div {text-align: center;display: grid;}
div.about div h3 {
	align-self: center;
	color:#FFFFFF;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
div.about div:nth-child(1) {
	grid-area:image1;
	background: url('/images/background1.png') no-repeat;
	background-size: cover;
	background-color: #333333;
}
div.about div:nth-child(2) {grid-area:image2;background: rgb(77,213,167);background: -moz-linear-gradient(38deg, rgba(77,213,167,1) 0%, rgba(82,148,234,1) 100%);background: -webkit-linear-gradient(38deg, rgba(77,213,167,1) 0%, rgba(82,148,234,1) 100%);background: linear-gradient(38deg, rgba(77,213,167,1) 0%, rgba(82,148,234,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4dd5a7",endColorstr="#5294ea",GradientType=1);}
div.about div:nth-child(3) {grid-area:image3;background: rgb(76,139,219);background: -moz-linear-gradient(321deg, rgba(76,139,219,1) 0%, rgba(0,0,0,1) 100%);background: -webkit-linear-gradient(321deg, rgba(76,139,219,1) 0%, rgba(0,0,0,1) 100%);background: linear-gradient(321deg, rgba(76,139,219,1) 0%, rgba(0,0,0,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c8bdb",endColorstr="#000000",GradientType=1);}

div.supportForm {
	display: grid;
	grid-template-areas: "input1 input2" "textarea textarea" "button button";
	grid-template-columns: 1fr 1fr;
	gap: 12px;
}
div.supportForm div:nth-child(1) {
	grid-area: input1;
}
div.supportForm div:nth-child(2) {
	grid-area: input2;
}
div.supportForm div:nth-child(3) {
	grid-area: textarea;
}
div.supportForm div:nth-child(4) {
	grid-area: button;
	display: flex;
	justify-content: flex-end;
}
section.footer {
	background-color: #333333;
	color: #FFFFFF;
	footer {
		display: grid;
		grid-template-areas: "logo logo" "navFooter media" "rights rights";
		div.logo {
			grid-area: logo;
			margin: 12px 0;
			padding-bottom: 24px;
			a.logo {
				display: block;
				img {width: 120px;}
			}
		}
		nav.navFooter {
			grid-area: navFooter;
			display: flex;
			flex-direction: column;
			margin-bottom: 24px;
			a {
				text-transform: uppercase;
				padding: 8px 0px;
				font-weight: 400;
				color: #999;
				font-size: 10pt;
				max-width: 100px;
			}
		}
		div.media {
			grid-area: media;
			display: flex;
			flex-direction: column;
			margin-bottom: 24px;
			a {
				text-transform: uppercase;
				padding: 8px 0px;
				font-weight: 400;
				color: #999;
				font-size: 10pt;
				max-width: 150px;
			}
			a.instagram {
				background: url('/images/iconInstagram.svg') no-repeat;
				background-position: 0px;
				background-size: 24px;
				padding-left: 32px;
			}
			a.facebook {
				background: url('/images/iconFacebook.svg') no-repeat;
				background-position: 0px;
				background-size: 24px;
				padding-left: 32px;
			}
		}
		div.rights {
			grid-area: rights;
			text-align: center;
			border-top: 1px solid #444;
			padding: 20px 0;
			p {
				font-weight: 400;
				color: #999;
				font-size: 12pt;
				margin-bottom: 0;
			}
		}
	}	
}

.formSign {
	min-width: 350px;
	div.textInput {	margin-bottom: 12px;}
	button { width: 100%; }
	div.signup div.rowA1 {
		display: grid;
		grid-template-areas: "div1 div2";
		grid-template-columns: 2fr 1fr;
		gap: 12px;
		div:nth-child(1) {grid-area: div1;}
		div:nth-child(2) {grid-area: div2;}
	}
	div.signup div.row3 {
		display: grid;
		grid-template-areas: "div1 div2 div3";
		grid-template-columns: minmax(120px, 1fr) minmax(120px, 1fr) minmax(200px, 1fr);
		gap: 12px;
		div:nth-child(1) {grid-area: div1;}
		div:nth-child(2) {grid-area: div2;}
		div:nth-child(3) {grid-area: div3;}
	}
}

section.panel {
	display: grid;
	grid-template-areas: "nav content";
	grid-template-columns: minmax(200px, 330px) 1fr;
	gap: 24px;
	nav { grid-area: nav; }
	div.content { grid-area: content; }
}

div.navItem {
	display: flex;
	border-bottom: 1px solid #DFDFDF;
	padding: 16px 0px;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	div.icon {
		align-items: center;
		justify-content: center;
		margin-right: 16px;
		margin-bottom: -4px;
	}
	div.navItemContent {
		p.title {
			margin: 0px;
			font-weight: 600;
			font-size: 12pt;
			line-height: 14pt;
		}
		p.subtitle{
			margin: 0px;
			font-size: 11pt;
		}
	}
	div.arrow {
		margin-bottom: -8px;
		font-size: 24pt;
		align-self: center;
	}
}

div.storeAvatar {
	display: flex;
	flex-direction: row;
	padding: 16px 0;
	img { max-height: 100%; max-width: 100%; margin-right: 16px; }
	.storeAvatarImage {
		background-color: #E2E2E2;
		width: 80px;
		height: 80px;
		border-radius: 100%;
	}
	.storeAvatarContent {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	h4 { text-transform: capitalize; }
}

.cardItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 8px;
	padding: 4px;
	margin-bottom: 4px;
	background-color: #F9F9F9;
	img {
		width: 80px;
		height: 80px;
		border-radius: 8px;
	}
	div.content {
		display: flex;
		flex-direction: column;
		padding: 16px;
		flex-grow: 1;
	}
}

@media (max-width: 550px) {
	div.signup div.rowA1 {
		display: grid;
		grid-template-areas: "div1" "div2" !important;
		grid-template-columns: 1fr !important;
		gap: 0px !important;
	}
	div.signup div.row3 {
		display: grid;
		grid-template-areas: "div1" "div2" "div3" !important;
		grid-template-columns: 1fr !important;
		gap: 0px !important;
	}
}


@media (max-width: 800px) {
		section.exclusive .subscribe {display: grid;grid-template-columns: none}
		section.exclusive .subscribe input {border-radius: 8px; margin-bottom: 12px;}
		section.exclusive .subscribe button {border-radius: 8px;}

    section.benefits {
			grid-template-areas: "image image" "content content";
			max-width: 100%;
			grid-template-columns: 1fr;
		}
		section.reasons div div.why p {
			max-width: 60vw;
		}
		div.about {grid-template-columns: 1fr;grid-template-areas: "image1" "image2" "image3";}
		div.supportForm {grid-template-columns: 1fr;grid-template-areas: "input1" "input2" "textarea" "button";}
    header .toggleNav {display: block; width: 48px; height: 48px;}
    header .container nav {
			position: absolute;
			left:0px;
			width: 100vw;
			top:76px;
			background: white;
			text-align: left;
			display: none;
			min-height: 0px;
			overflow: hidden;
		}
		header .container nav.active {display: block;animation: slide 0.7s forwards;box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.05);}
		header .container nav a {display: block; color: #333333; padding-bottom: 16px;}
	
}

@media (min-width: 800px) {
		section.benefits div.mobileImage img {
			padding-right: 64px;
		}
}

@media (max-width: 500px) {
    section.exclusive h1 {
			font-size: 35pt;
			gap: 0px !important;
			margin-bottom: 30px;
			line-height: 40pt;
		}
		h2 {
			font-size: 25pt;
			margin-bottom: 32px;
			line-height: 30pt;
			letter-spacing: -0.02em;
		}
		div.about a:nth-child(1) {
			background-size: auto 100%;
		}
		section.reasons div.reason2 {
			background-position: -200px center;
		}
		section.reasons div div.why p {
			max-width: 100vw;
		}
		section.benefits {
			padding: 64px 15px;
		}
		footer {
			grid-template-areas: "logo" "navFooter" "media" "rights" !important;
			grid-template-columns: 1fr;
		}
		div.signup div.row3 {
			display: grid;
			grid-template-areas: "div1" "div2" "div3" !important;
			grid-template-columns: 1fr !important;
			gap: 0px !important;
		}

}

@media (min-width: 1140px) {
	section.exclusive h1 {
		font-size: 50pt;
		margin-bottom: 30px;
		line-height: 52pt;
		letter-spacing: -0.02em;
	}	
}
@keyframes slide {
    0% {max-height: 0%;}
    100% {max-height: 100vh;}
}